.container {
    padding: 0 15;
    padding: 0 auto;
}
@media screen and (min-width: 320px) {
.container {
        max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    }
        
}

/* --------------------------------428-------------------------------------------- */
@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
        padding-left: 24 px 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;

    }
    .header {
    padding-top: 25.5px;
    padding-bottom: 23.5px;    
    }
 .header-logo {
    margin-right:249px;
 }
    .list-costumers-item {
        width: calc((100% - 90px) / 2);
        gap: 72px 16px;
    }

    .hero {
        /* width: 428px;
            height: 432px;
            max-width: 1440px; */
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-m.jpg);
        background-size: cover;
        /* padding-left: 16px;
        padding-right: 16px; */
    }

    .hero-btn {
        /* border: none;
        background: none; */
        margin-top: 72px;
        
    }
         .hero-title {
             font-family: 'Roboto', sans-serif;
             /* font-weight: 700; */
             font-size: 36px;
             line-height: 1.11;
             letter-spacing: 0.72px;
             color: var(--hero-color);
             text-align: center;
             max-width: 496px;
             /* padding: 472px 188px 472px 292px;  ////////////////////////////////////// */
             /* margin-left: 54px;
         margin-right: 54px; */
             margin-bottom: 72px;
         }
    
    .icon-menu-hamburger {
        display: flex;
        width: 32px;
        height: 22px;
        outline: none;
        border: none;
        /* background-color: transparent; */
        cursor: pointer;
        stroke: #2E2F42;
            background-color: none;
            overflow: hidden;
    }


    /* .hero-title {
                margin-top: 112px;
                margin-bottom: 72px;
                } */


    /* .bfs-list {
        display: flex;
            gap: 72px 24px;
            flex-wrap: wrap;
            text-align: center;
    } */

    /* .team-item {
        width: 100%;
    } */

    /* .team-list {
        flex-direction: column;
    } */
}

/* @media screen and (max-width:767px) {
    .web-defs {
        margin: 0 auto;
    } */

/* } */


/* --------------------------------768----------------------------------------- */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;

    }
    .container-customer {
        max-width: 584px;
    }
        .icon-menu-hamburger {
            display: none;
            
        }
    .header-menu {
        display: flex;
        gap: 40px;

    }

    .header-nav {
        display: flex;
        align-items: center;

    }

    .header-menu-item {
        /* margin-right: 40px; */

    }

    .header-address {
        font-style: normal;
        margin-left: auto;
    }

    .header-address-list {
        display: flex;
        gap: 40px;


    }

    .header-address-item {
        /* margin: 40px 40px 40px 40px; */
        /* padding: 24px 32px 24px 34px;
                gap: 40px; */


    }

    .header-address-link {
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: var(--dark-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }




    .header-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        /* color: var(--navyblue88-color); */
        padding: 24px 0;
        display: block;
        position: relative;
        /* color: #404bbf; */
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* 
      .header-menu-link.active {
         content: '';
         width: 100%;
         position: absolute; 
          left: 0;
         bottom: -1px;
         height: 4px;
         background-color: #404bbf;
         border-radius: 2px;
         border-bottom: 4px solid #404bbf; 
     }   */

    .header-menu-link::after {
        content: '';
        /* width: 100%; */
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        color: #404bbf;
        /* color: #404bbf; */
        border-radius: 2px;
    }

    .current::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    /* .header-menu-link::before {
         width: 100px;
         height: 4px;
         background-color: #404bbf;
         content: ""
     } */

    /* .header-menu-link .link:hover {
         color: #404bbf;
         cursor: pointer;
     }
    
     .header-menu-link .link:focus {
         color: #404bbf;
         cursor: pointer;
     } */

    .link:hover {
        color: #404bbf;
        cursor: pointer;
    }

    .link:focus {
        color: #404bbf;
        cursor: pointer;
    }

    /* .main-container {
         display: flex;
         align-items: baseline;
     } */

    .header-address {
        font-style: normal;
        margin-left: auto;
    }

    .header-address-list {
        display: flex;
        gap: 40px;


    }

    .header-address-item {
        /* margin: 40px 40px 40px 40px; */
        /* padding: 24px 32px 24px 34px;
        gap: 40px; */


    }

    .header-address-link {
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: var(--dark-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .softskills-list {
        display: flex;
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .softskills-item {
        width: calc((100% - 24px) / 2);
        /* width: 356px; */
        /* display: list-item;
        text-align: left; */
    }
    .softskills--item-text {
        text-align: left;
    }
        .list-costumers-item {
            width: calc((100% - 48px) / 3);
            /* gap: 172px 16px; */
    
        }

    .team-list {
        flex-direction: row;
        gap: 64px 24px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-item {
        width: 100%;
        height: auto;
        width: calc((100% - 24px) / 2);

    }

    /* .team-img {
        width: 100%;
        height: auto;
    } */
    .team-title {
        text-align: center;
        /* padding-top: 96px; */
    }

}
/* -----------------------------------1158------------------------------------------- */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .icon-menu-hamburger {
        display: none;
    }
    
    .softskills {
        padding: 120px 0;
    }

    .softskills-item {
        width: calc((100% - 48px) /4);
    }
.softskills--item-text{
   text-align: left; 
}
    .softskills-list {
        gap: 72px 24px;
        flex-wrap: nowrap;
    }

    .icons-softskills {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px
    }

    .team-title {
        /* padding: 0; */

    }

    .team-list {

        gap: 24px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }
        .list-costumers-item {
        width: calc((100% - 120px) / 6);
        }
}