 :root {
    --hero-color:#FFFFFF;
    --title-color:#2E2F42;
    --blue-color:#4D5AE5;

 }
/* var(--hero-color);
var(--title-color);
var(--blue-color); */

body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background: var(--hero-color);
}

.link {
    text-decoration: none;
    color: #404bbf;
}

.list {
    list-style-type: none;
}

.header {
    

}


.header-nav {

}

.header-logo {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--blue-color);
text-transform: uppercase;
}
.header-logo span {
color: var(--title-color);
}

.header-menu {

}

.header-menu-item {

}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--title-color);

}
.header-menu-link:hover {
        color: #404bbf;
        cursor: pointer;
    }
.header-menu-link:focus {
    color: #404bbf;
    cursor: pointer;
}


.header-address {
    font-style: normal;
}

.header-address-list {
    

}

.header-address-item {

}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;

}

.hero {
    background: var(--title-color);

}
.hero:focus {
    background-color: #404BBF;

}
.hero:hover {
    background-color: #404BBF;

}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--hero-color);
    text-align: center;
   
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: var(--hero-color);
    background: var(--blue-color);
    cursor: pointer;

}
.hero-btn:hover {
    background-color: #404BBF;
    cursor: pointer;
}
.hero-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.header-menu-link:hover {
        background-color: #404BBF;
        cursor: pointer;
    }
.header-menu-link:focus {
    background-color: #404BBF;
    cursor: pointer;
}


.softskills {
    background: var(--hero-color);

}

.softskills-list {

}

.softskills-item {

}

.softskills-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--title-color);

}

.softskills--item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;

}

.projects {

}

.projects-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
}

.projects-list {
    
}

.projects-item {

}


.team {
    background: #F4F4FD;

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
}

.team-list {
    background-color: #FFFFFF;
}

.team-item {
    background-color: #FFFFFF;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--title-color);

}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;

}


.footer {
    background: var(--title-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.50;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}

.footer-logo span {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em

}






.filtr {
    list-style: none;
}

.list {}

.filtr-button {
    color: #4d5ae5;
    background-color:#F4F4FD;
}
.filtr-button:hover {
    background-color: #404BBF;
    cursor: pointer;
}
.filtr-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.filtr-button-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4d5ae5;
}


.projects-list {
    
}
.projects-item {}

.project-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
     color: #2E2F42;
}

.project-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background: #FFFFFF;
}


