 :root {
    --hero-color:#FFFFFF;
    --title-color:#2E2F42;
    --blue-color:#4D5AE5;

 }
/* var(--hero-color);
var(--title-color);
var(--blue-color); */

.body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background: var(--hero-color);
}

img {
    display: block;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.link {
        text-decoration: none;
        color: var(--title-color);
}

.list {

    list-style-type: none;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    
    border-bottom: 1px solid #e7e9fc;

}

.header-container {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    align-items: center;
    padding: 0 15px;
    
}


.header-nav {
    display: flex;
    align-items: center;

}

.header-logo {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--blue-color);
text-transform: uppercase;
margin-right: 76px;
display: flex;
align-items: center;
}
.header-logo span {
color: var(--title-color);
}

.header-menu {
    display: flex;
    gap: 40px;

}

.header-menu-item {
    margin-right: 40px;
    

}



.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding: 24px 0;

}
.header-menu-link .link:hover {
        color: #404bbf;
         cursor: pointer;
}

.header-menu-link .link:focus {
    color: #404bbf;
    cursor: pointer;
}

.link:hover {
    color: #404bbf;
    cursor: pointer;
}

.link:focus {
    color: #404bbf;
    cursor: pointer;
}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
    

}

.header-address-item {
    margin-right: 40px;

}

.header-address-item2 {
    margin-right: 0;

}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;

}

.hero {
    background: var(--title-color);
    padding: 188px 0;
 
}
.hero:focus {
    background-color: #404BBF;

}
.hero:hover {
    background-color: #404BBF;

}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--hero-color);
    text-align: center;
    max-width: 496px;
    
   
   
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: var(--hero-color);
    background: var(--blue-color);
    cursor: pointer;
    display: block; 
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:#4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin: center;

}
.hero-btn:hover {
    background-color: #404BBF;
    cursor: pointer;
}
.hero-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.header-menu-link:hover {
        background-color: #404BBF;
        cursor: pointer;
    }
.header-menu-link:focus {
    background-color: #404BBF;
    cursor: pointer;
}


.softskills {
    background: var(--hero-color);
    padding-top: 120px;
    padding-bottom: 120px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.softskills-list {
    display: flex;
    gap: 24px;

}

.softskills-item {
    flex-basis: calc((100% - 48px) / 3);
   
}

.softskills-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;

}

.softskills--item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;

}

.projects {
    padding-bottom: 120px;

}

.projects-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    display: flex;
    margin-bottom: 72px;
    display: flex;
}

.projects-list {
    display: flex;
    gap: 24px;
}

.projects-item {
    margin-bottom: 48px;
    width: calc((100% - 48px) / 3);

}

.project-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.project-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background: #FFFFFF;
}

.team {
    background: #F4F4FD;
    padding: 120px 0;

}

.container {
    padding: 0 15px;
}
.container-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.container-team {
    padding: 32px 16px;
    /* width: calc((100% - 72px) / 4); */
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  
}

.team-list {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 8px;
    display: flex;

}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    display: flex;
    
}


.footer {
    background: var(--title-color);
    padding: 100px 0;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo span {
    color: #F4F4FD;
    display: inline-block;
    margin-bottom: 16px;
    
}

.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.50;
    max-width: 264px;

}






.filtr {
 
}



.filtr-button {
    display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
   
}


.filtr-button-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    
    text-align: center;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
}
.filtr-button-text:hover {
    background-color: #404BBF;
    color: #FFFFFF;
    cursor: pointer;
}

.filtr-button-text:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    cursor: pointer;
}

.app-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    
}

.app-item {
    width: calc((100% - 48px) / 3);
}

.app-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.app-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background: #FFFFFF;
}

.app-url {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
    
}








/* .projects-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
} */

.portfolio {
    padding: 96px 0 120px 0;
 }

 .filtr {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    padding: 96px 0 120px 0;
    /* padding-top: 96px; 
    padding-bottom: 120px; 
    row-gap: 48px; 
    width: 16px; */
 }

 .filtr-button-text {
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    flex-wrap: wrap; 
     margin-bottom: 48px 
 }

 .filtr-button-text:hover {
    border: 1px solid transparent;
    cursor: pointer;
 }

 .filtr-button-text:focus {
     border: 1px solid transparent;
    cursor: pointer;
 }

.filtr-buttonl {
    margin-bottom: 0;
}
