:root {
    --title-color: #2e2f42;
    --text-color: #434455;
    --navigation-color: #4d5ae5;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--text-color);
}

/* a {
    text-decoration: none;
}  */

ul {
    list-style-type: none;
}

/* .link {
    text-decoration: none;
}

.list {
    text-decoration: none;
} */

/* --------------------header --------------------*/

.header-navigation-list {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navigation-color);
    text-decoration: none;

}

.header-logo-link {
    color: var(--navigation-color);
    text-decoration: none;
}

.header-logo-link span {
    color: var(--title-color);
    
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.header-menu-link:hover {
    color: #404BBF;
}

.header-menu-link:focus {
    color: #404BBF;
}

.header-address-menu {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.address-menu-contact:hover {
    color: #404BBF;
}

.address-menu-contact:focus {
    color: #404BBF;
}

/* ---------------hero--------------------------- */
.hero {
    background-color: var(--title-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    /* background-color: #4D5AE5; */
    color: #FFFFFF;
    letter-spacing: 0.04em;
}

.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}

/*--------------------------------- softskills--------------------------- */
.softskills {}

.softskills-list {}

.softskills-item {}

.softskills-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.softskills-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* ------------------What are we doing------------------------------------- */

.works {}

.works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

/* ----------------team----------------------------- */
.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.team-list {}

.team-subtitle {
    background-color: #FFFFFF;
}

.team-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* ------------------------footer-------------------- */

.footer-link {
    background-color: #2E2F42;
}

.footer-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-logo-studio span {
    color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* --------------------------portfolio----------------------- */
/* -----------------------------filtr----------------------- */
/*       */

.header {}

/* .header-navigation { */

/* } */

/* .header-logo-filtr {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
} */

/* .header-logo span { */
/* color: #f4f4fd; */
/* } */
.link {}

.header-menu-list {}

.header-menu-item {}

.header-menu-link {}

.header-address {}

.address {}

.address-menu {}

.address-menu-contact {}

.filtr {}

.filtr-list {
    list-style: none
}

.filtr-button {}

.filtr-button-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;

}

/* .filtr-button-text:hover {
    color: #FFFFFF;
    background-color: #404BBF; 

  }

   .filtr-button-text:focus {
    color: #FFFFFF;
    background-color: #404BBF;

   } */

/* .header-logo span { */
/* color: #FFFFFF; */
/* } */

.projects {}

.projects-item {}

.project-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.project-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.footer-logo-studio span {
    color: #F4F4FD;

}