.container {
    padding: 0 15;
    padding: 0 auto;
}
@media  screen and (min-width:428px) {
    /* .container {
        max-width: 428px;
    } */
    .open-menu-icon {
        width: 32px;
height: 22px;
flex-shrink: 0;
}


/* .bfs-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    text-align: center;
} */

/* .sub-container{
    width: 100%;
} */


} 
@media screen and (max-width:767px) {
    .web-defs {
       margin: 0 auto; 
    }

}

  
@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
    .header-container {
        height: 72px;
        max-width: 768px;
    }
    .header-address {
        display: flex;
    }
        .form {
        padding-left: 24px;
        padding-right: 24px;
    }
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: center;
    
    }
    .header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-two);
       margin-right: 120px;
        position: relative;
             color: #404bbf;
        }
    .benefists-list {
        display: flex;
        gap: 72px 24px;
        flex-wrap: wrap;
    }
    .benefists-item {
        width: 356px;
        display: list-item;
        text-align: left;
    }
    .benefists-subtitle {
        text-transform: capitalize;
        text-align: left;
    }
    .hero {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet.people.office.jpg); 
        /* padding: 188px 0; */
        padding: 112px 0;
        /* max-width: 1440px; */
        max-width: 768px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* height: 600px; */
        height: 432px;
        margin: 0 auto;
    }
    .footer-container {
        max-width: 584px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        text-align: start;
        row-gap: 72px;
        column-gap: 24px;
    }
    .hero-title {
        font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 496px;
    /* max-width: 398px; */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    }
    .modal {
        width: 95%;
        max-width: 392px;
        height: 95%;
        max-height: 594px;
        overflow: scroll;
    }
    .web-title {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        display: inline-block;
        margin-right: 0 auto;
        margin-bottom: 16px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    
        }
        .subs-text {
            margin-bottom: 16px;
            font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
        text-align: left;
        }
 
    .web-container {
        display: block;
        text-align: center;

    }

    .customers-item  {
       
        width: 168px;
        height: 88px;
        
  }


    
.header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
    .header-menu {
        display: flex;
        gap: 40px;
    }
    @media screen and (min-width: 768px) {
        .hero-wrap {	
            padding: 112px 0;
            background-image: linear-gradient(), url(../images/hero.desktop.jpg);
            }
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .hero-wrap {
            background-image: linear-gradient(), url(../images/hero-descktop.x2-2x.jpg);
            }
            }
    .header-soc {
            display: block;
        margin: 0;
        padding-left: 0;
        gap: 12px;

    }
    .open-menu-btn {
        display: none;
    }
    .subs-box {
        display: flex;
    flex-direction: row;
    align-items: unset;
    }
    .subs-btn {
        margin: 0;
    }

    .subs-input {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #ffffff; 
    }
} 
@media  screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
    }
    .products {
        display: flex;
    }
    .header-soc {
        display: flex;
    }
    .header-soc-title {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-color);
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}  
@media screen and (max-width: 1157px ) {
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}
    .modal {
        width: 95%;
        max-width: 392px;
        height: 95%;
        max-height: 594px;
    }

@media screen and (min-width: 768px) {
      .container {
          max-width: 768px; 
              }
              .hero-wrap {	
                padding: 112px 0;
                background-image: linear-gradient(), url(../images/tablet.people.office.jpg);
                }
                
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                .hero-wrap {
                background-image: linear-gradient(), url(../images/tab.people.x2-2x.jpg);
                }
                }

            
            
      .header-container {
          align-items: center;
          display: flex; 
          justify-content: space-between; 
          padding: 0 15px 0 15px; 
          }
      .header-soc {
       
       color:  #434455;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.48px;  
          display: flex;
          gap: 40px;
          margin-left: auto;
      }
       .header-soc-item {
      display: list-item;
          text-align: -webkit-match-parent;
      } 
      .open-menu-btn {
          display: none;
          }
       .header-menu {
          display: flex;
          align-items: center;
          padding: 24px 0;
          gap: 40px;
          color:  #2E2F42;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.32px;
          } 

      .header-address {
          font-style: normal;
          display: flex; 
        }
      .hero {
          display: flex;
          max-width: 768px;
              margin-left: auto; 
              margin-right:auto;
              background-position: center;
              
                  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                  url(../images/tab.people.x2.jpg) ;
                  background-repeat:no-repeat ;
                  background-size:cover;         
          }
      @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) { 
          .hiro-section {
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
              url(../images/tab.people.x2.jpg) ;
              background-repeat:no-repeat ;
              background-size:cover;
          }  
      }

      .hero-title {
          display: flex;
       min-width: 496px;
          height: 120px;
           margin-bottom: 36px; 
          font-size: 56px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 1.12px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 36px;
      }
      .benefists-subtitle {
          display: flex;
      }
 
      .benefists-item {
          max-width: unset; 
          width:calc((100% - 24px) / 2 ); 
          
      }
      .customers-list {
          gap: 72px 24px;
          justify-content: center;
         
      } 
      .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
 
        .subs-input {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #ffffff; 
    }
 
      .team-list {
          gap: 72px 24px ;

      } 
      .team-item {
          max-width: unset;
          width: calc((100% - 24px) / 2 );
          width: 100%;
          max-width: 264px;
      }
      /* -----------Футур--------------- */
      .footer-container {
        max-width: 568px;
        flex-direction: row;
        align-items: baseline;
        gap: 24px;
        row-gap: 72px;
        justify-content: left;
        display: flex;
      }
      .web-background {
          padding-top: 97.5px;
          padding-bottom: 96px;
      }

      .web-item-text {
        max-width: 268px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
      }
      .media-web {
        display: flex;
        cursor: pointer;
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;
        gap: 16px;
      }
      .web-title {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        display: inline-block;
        margin-right: 0 auto;
        margin-bottom: 16px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
      }
      .sub-container {
        width: 100%;
      }
    .sub-container {
        width: 496px;
    }
    .subs-text {
        text-align: unset;
        margin-top:0;
    }
    .subs-btn {
        margin: 0 auto;
    }
      .web-defs {
        align-items: start;
      }
      .subs-box {
          flex-direction: row;
          max-width: none;
      }
      .subs-input {
          width: 264px;
      }

      .web-title {
          justify-content: flex-start;
      }
      .prf-web {
          justify-content: flex-start;
      }
      }
      @media screen and (min-width: 1158px) {
          .container {
            max-width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
          } 
      .open-menu-btn {
          display: none;
      }
      .hero {
        display: flex;
          max-width: 1440px;
          padding-top: 192px; 
          padding-bottom: 188px;  
          height: 600px;
          margin-left: auto; 
          margin-right:auto;
          background-position: center;
      
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
              url(../images/people-office.x1.jpg) ;
              background-repeat:no-repeat ;
              background-size:cover;
      }
      @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) { 
          .hiro-section {
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
              url(../images/people-office.x2.jpg.) ;
              background-repeat:no-repeat ;
              background-size:cover;
          }  
      }
      .benefists-list {
        gap: 72px 24px;
        flex-wrap: nowrap;
  }
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
  .benefists-subtitle {
    font-size: 20px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
text-align: center;
  }
  .benefists-item-text {
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.mob-menu {
    display: none;
}
    .header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-two);
       margin-right: 76px;
        position: relative;
             color: #404bbf;
        }
    .benefists {
        padding: 120px 0;
    }
      .customers-list {
          flex-wrap: nowrap;
          gap: 24px;
      }
      .customers-item {
           max-width: unset; 
           width: calc((100% - 120px) / 6);
           width: 168px;
           height: 88px;  
      }
      .item-list {
          max-width: unset;
          width: calc((100% - 72px) / 4); 
         
      }
    }
}

}